@charset "UTF-8";

html {
  font-size: 100%;
}
img {
  max-width: 100%;
}
a {
  text-decoration:none;
  color: rgb(27, 186, 235);
}

.header-nav {
  display: flex;
  /* background-color: rgba(102, 205, 170); */
  background-image: url("/meisai.jpg");
  margin-top: 50px;
  justify-content: space-between;
  padding: 3% 20%;
}

.container { 
  display: flex;
  justify-content: center;
  padding: 200px 0; 
  align-items: center

}

/* あとは左側の写真を丸くする */
.left-wrapper img {
  max-width: 40%;
  border-radius: 55%;
  display: flex;
  justify-content: center;
  margin:auto
  
}

/* 右側は川本先輩のレイアウトを真似して、作成する */
.right-wrapper h1 {
  font-size: 150%;
  border-bottom: solid 2px #555;
  margin-bottom: 5%;
}

.right-wrapper li{
  margin-bottom: 5%; 
}